{% extends "layout.html" %}

{% block content %}


<div class="row">
    <h1 class="title">
  Добро пожаловать, {{ name }}!
</h1>
	{% with messages = get_flashed_messages() %}
	{% if messages %}
	    <div class="notification is-info">
		{{ messages[0] }} 
	    </div>
	{% endif %}
	{% endwith %}
    {% if count_unread>0 %}
    <div class="notification is-info">
        Обратите внимание: у вас есть непрочитанные сообщения ({{count_unread}})
    </div>
    {% endif %}
 <ul class="menu-list">	
    <li><a href="{{ url_for('viewmess') }}">Просмотреть публикации о свободном имуществе</a></li>
    <li><a href="{{ url_for('addmess') }}">Опубликовать информацию о свободном имуществе</a></li>
    <li><a href="{{ url_for('logout') }}">Выход из личного кабинета</a></li>    
  </ul>
</div>

{% endblock %}
сервиса для формирования и использования органами государственной власти Оренбургской области базы данных по свободному (неиспользуемому) имуществу