{% extends "layout.html" %}
{% block content %}

<div class="row">
    <h1 class="title">
  Список заявок принять на баланс объект!
</h1>
	{% with messages = get_flashed_messages() %}
	{% if messages %}
	    <div class="notification is-info">
		{{ messages[0] }} 
	    </div>
	{% endif %}
	{% endwith %}
	<table class="table is-fullwidth">
	<thead>
	    <tr>	      
	      <th><abbr title="NN">№</abbr></th>
	      <th><abbr title="dat">Дата</abbr></th>
	      <th><abbr title="org">Организация</abbr></th>	      
	    </tr>
	  </thead>        
        <tbody>
		{% for dat in dates %}
		<tr>			
			<th>{{ loop.index }}</th>
			<td>{{ dat.estates_success.dat_ }}</td>
			<td>{{ dat.User.org }}</td>
			
		</tr>
	{% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}
