<?xml version="1.0"?>
<Estate>
  <web_server>
    <host>localhost</host>
    <port>4556</port>
    <cert>cert1.pem</cert>
    <key>key1.pem</key>
  </web_server>
  <postgresql>
    <database>Estate</database>
    <user>postgres</user>
    <password>1qaz2wsx</password>
    <host>localhost</host>
    <port>5432</port>
  </postgresql>
  <UPLOAD_FOLDER>E:\images</UPLOAD_FOLDER>
  <email>
    <MAIL_SERVER ></MAIL_SERVER>
    <MAIL_PORT  ></MAIL_PORT>
    <MAIL_USE_TLS></MAIL_USE_TLS>
    <MAIL_USE_SSL></MAIL_USE_SSL>
    <MAIL_USERNAME></MAIL_USERNAME>
    <MAIL_PASSWORD></MAIL_PASSWORD>
  </email>
</Estate>
